@font-face {
  font-family: Manrope;
  font-weight: 400;
  font-style: normal;
  src: local("Manrope"),
    url("./../resources/fonts/Manrope-Regular.woff2 ") format('woff2');
  font-display: swap;
}